.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: sticky;
    top:0;
    z-index: 100;
    background-color: white;
    border-bottom: 1px solid lightgray;
}
.header__menu{
    margin-left: 10px;
}
.header__logo{
    height: 45px;
    object-fit: contain;
    margin-left: 15px;
}

.header__left{
    display: flex;
    align-items: center;
}
.header__search{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    width: 40%;
    border-radius: 3px;
}
.header__search>input{
    flex: 1;
    border: none;
    padding: 7px;
}
.header__searchButton{
    width: 50px !important;
    color: gray;
    background-color: #fafafa;
    border-left: 1px solid lightgray;

}
.header__icons{
    display: flex;
    align-items: center;
}
.header__icon{
    margin-right: 8px;
    color: rgb(88, 88, 88);
    margin-left: 10px;
    font-size: 25px !important;
}